In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [4]:
import math as mt

In [5]:
mt.sqrt(25)

5.0

In [6]:
from numpy import random

In [7]:
import numpy as np

In [8]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [9]:
np.mean(dataOne)

0.562161214166891

In [11]:
print('I Love data Science')

I Love data Science

In [12]:
variableName = 25
variableName1 = 'I Love data Science'

In [13]:
print(variableName1)

I Love data Science

In [14]:
variableName = 25
type(variableName)

int

In [15]:
varOne = 25

In [16]:
varOne = 25

varTwo = 25.0

varThree = varOne + varTwo

print(varThree)

50.0

In [1]:
varOne = 25

varTwo = 'Hello'

varThree = str(varOne) + varTwo

print(varThree)

25Hello

In [21]:
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [22]:
tel = {'jack': 4098, 'sape': 4139}

In [23]:
tel['jack']

4098

In [24]:
test = {'x':10, 'y':15, 'z':0, 'a':1, 'b':2,'c':3}

In [28]:
test['x']+test['y']

25

In [30]:
test['x']*2.2

22.0

In [32]:
test['a']/test['x']

0.1

In [6]:
import pandas as pd
import numpy as np

In [7]:
C3T3TrainingData = pd.read_csv(r"C:\Users\mazzurri\OneDrive - Schlumberger\Documents\School\Course 3\Task 3\trainingData.csv")